/*================*/
/* Font Faces */
/*================*/

/* Default Font */
@font-face {
    font-family: 'New Atten';
    src: url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/NewAttenRegular.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/NewAttenRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'New Atten';
    src: url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/NewAttenBold.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/NewAttenBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'New Atten';
    src: url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/NewAttenExtraBold.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/NewAttenExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'New Atten';
    src: url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/NewAttenItalic.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/NewAttenItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* Header Font (all caps)*/
@font-face {
    font-family: 'Buena Park JF';
    src: url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/BuenaParkJF.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/BuenaParkJF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*================*/
/* Roll20 Styles */
/*================*/
.ui-dialog .charsheet {
    padding: 0;
}

/*================*/
/* Corner Box */
/*================*/
.container {
    --radiusouter: 8px;
    --radius: 7px;
    --thickness: 1.5px;
}

.corner-box-wrapper {
    display: block;
    height: 50px;
    margin: 8px;
    margin-top: 18px;
}

.corner-box {
    shape-rendering: geometricPrecision;
    height: 100%;
    padding: var(--radiusouter);
    clip-path: shape(from 0 var(--radiusouter), line to var(--radiusouter) 0, line to calc(100% - var(--radiusouter)) 0, line to 100% var(--radiusouter), line to 100% calc(100% - var(--radiusouter)), line to calc(100% - var(--radiusouter)) 100%, line to var(--radiusouter) 100%, line to 0 calc(100% - var(--radiusouter)), close);
    background-color: #cc9133;
    position: relative;
}

.corner-box.with-header {
    z-index: -1;
}

.corner-box::before {
    shape-rendering: geometricPrecision;
    display: block;
    content: '';
    position: relative;
    left: calc(var(--thickness)*1 - var(--radiusouter));
    top: calc(var(--thickness)*1 - var(--radiusouter));
    width: calc(100% - var(--thickness)*2 + var(--radiusouter)*2);
    height: calc(100% - var(--thickness)*2 + var(--radiusouter)*2);
    clip-path: shape(from 0 var(--radius), line to var(--radius) 0, line to calc(100% - var(--radius)) 0, line to 100% var(--radius), line to 100% calc(100% - var(--radius)), line to calc(100% - var(--radius)) 100%, line to var(--radius) 100%, line to 0 calc(100% - var(--radius)), close);
    background-color: #fff;
    z-index: -1;
}

.corner-box-wrapper .header {
    margin-bottom: -12px;
    margin-left: 16px;
    background-color: white;
    height: 16px;
    width: fit-content;
    padding: 4px;
}

.corner-box .content {
    width: calc(100% - var(--radiusouter)*2);
    display: block;
    position: absolute;
    top: calc(var(--radiusouter) - var(--thickness));
    left: calc(var(--thickness) + var(--radiusouter));
}

.corner-box .inner-header {
    margin-left: -4px;
    margin-top: -4px;
}

.corner-box label {
    font: 13px 'New Atten', sans-serif;
    font-weight: 800;
    color: #cc9133;
    display: flex;
    align-items: center;
    padding-right: 4px;
    height: 100%;
    margin-bottom: 0;
    max-height: 26px;
}

.corner-box input {
    border: none;
    background-color: #fff;
    font-family: 'New Atten', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 2px 4px;
    width: 100%;
    height: auto;
    border-radius: 0;
    color: black;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.corner-box .content.two-columns {
    grid-template-columns: fit-content(50%) auto;
    display: grid;
}

.xp-rows {
    grid-template-rows: 0% 50% 50%;
    grid-template-columns: 78px;
    display: grid;
    vertical-align: middle;
    height: 64px;
    margin: 8px;
    margin-top: 18px;
}

.xp-rows .corner-box-wrapper {
    height: 18px;
    margin: 0;
}

.xp-rows .corner-box input {
    font-size: 16px;
    padding: 0 4px;
}

/*================*/
/* Nav Bar */
/*================*/
.nav-bar {
    background-color: #cc9133;
    margin-left: 8px;
    margin-right: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.nav-bar button {
    font-family: 'New Atten', sans-serif;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    padding: 5px;
    padding-bottom: 7px;
    border: 1.5px solid #cc9133;
    border-bottom: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #cc9133;
    color: #fff;
    cursor: pointer;
}

.nav-bar button:hover {
    position: relative;
    top: -7px;
    padding-bottom: 14px;
    margin-bottom: -7px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

/*================*/
/* Attribute Box */
/*================*/
.attribute-box {
    font-family: 'New Atten', sans-serif;
    font-size: 16px;
    grid-template-columns: 90px 30px auto;
    display: grid;
    width: 200px;
    align-items: center;
}

.attribute-box ul {
    list-style: none;
    margin: 0;
    margin-top: 4px;
}

.attribute-box li {
    height: 20px;
    color: #000;
}

.attribute-box h2 {
    font-size: 16px;
    color: #cc9133;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 22px;
    overflow: visible;
    display: block;
    width: 100px;
}

.ui-dialog .charsheet .attribute-box input {
    border: none;
    border-bottom: 1.5px solid #cc9133;
    border-radius: 0;
    background-color: #fff;
    width: 22px;
    font-size: 16px;
    height: 16px;
    padding: 3px;
    padding-left: 0;
    color: #000;
    text-align: right;
}

.sheet-attributes {
    padding-top: 16px;
    grid-template-columns: repeat(2, minmax(auto, 220px)) auto;
}

.separator {
    border-bottom: 2px solid #cc9133;
    margin-top: 8px;
    margin-bottom: 4px;
    margin-right: 20px;
}

@media (min-width: 768px) {
    .container {
        width: unset;
    }

    .sheet-attributes {
    }
}

@media (min-width: 880px) {
    .container {
        width: unset;
    }

    .sheet-attributes {
    }
}

@media (min-width: 992px) {
    .container {
        width: unset;
    }

    .sheet-attributes {
        grid-template-columns: auto auto auto auto;
    }
}

.dice-field {
    background-image: url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/images/dice.png');
    width: 62px;
    height: 71px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
}

.ui-dialog .charsheet .dice-field input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: black;
}

/*================*/
/* Sheet Styles */
/*================*/

.container {
    background-color: #faf4eb;
    margin: 0;
    padding: 0;
    /*min-width: 860px;*/
}

.pc .header {
    background-color: #faf4eb;
    color: #cc9133;
    display: grid;
    height: 100px;
    grid-template-columns: auto auto 100px 220px;
}

.pc .header .frame {
    padding: 8px;
    margin: 8px;
    border: 1px solid #cc9133;
    background-color: #fff;
    display: block;
    height: 40px;
    border-radius: 8px;
}

.pc .header .logo {
    height: 62px;
    margin: 20px;
    margin-left: 12px;
    max-width: none;
}

.xp-background {
    position: relative;
    top: -17px;
    left: -11px;
    height: 100px;
    width: 100px;
    max-width: none;
}

/* configure the tab buttons */
.pc .sheet-attributes,
.pc .sheet-inventory,
.pc .sheet-background {
    display: none;
    border: 1.5px solid #cc9133;
    border-top: none;
    margin: 8px;
    margin-top: 0;
    background-color: #fff;
    padding: 8px;
}

/* style the active button */
.pc .sheet-tabstoggle[value="attributes"]~div.nav-bar .sheet-button0,
.pc .sheet-tabstoggle[value="inventory"]~div.nav-bar .sheet-button1,
.pc .sheet-tabstoggle[value="background"]~div.nav-bar .sheet-button2 {
    background-color: #fff;
    color: #cc9133;
    position: relative;
    top: -7px;
    padding-bottom: 14px;
    margin-bottom: -7px;
    box-shadow: none !important;
}

/* show the selected tab */
.pc .sheet-tabstoggle[value="attributes"]~div.sheet-attributes,
.pc .sheet-tabstoggle[value="inventory"]~div.sheet-inventory,
.pc .sheet-tabstoggle[value="background"]~div.sheet-background {
    display: grid;
}