/*================*/
/* Font Faces */
/*================*/

/* Default Font */
@font-face {
    font-family: 'New Atten';
    src: url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/NewAttenRegular.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/NewAttenRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'New Atten';
    src: url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/NewAttenBold.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/NewAttenBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'New Atten';
    src: url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/NewAttenExtraBold.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/NewAttenExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'New Atten';
    src: url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/NewAttenItalic.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/NewAttenItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* Header Font (all caps)*/
@font-face {
    font-family: 'Buena Park JF';
    src: url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/BuenaParkJF.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/fonts/BuenaParkJF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*================*/
/* Roll20 Styles */
/*================*/
.ui-dialog .charsheet {
    padding: 0;
}

/*================*/
/* Corner Box */
/*================*/
.container {
    --radiusouter: 8px;
    --radius: 7px;
    --thickness: 1.5px;
}

.corner-box-wrapper {
    display: block;
    height: 50px;
    margin: 8px;
    margin-top: 18px;
}

.corner-box {
    shape-rendering: geometricPrecision;
    height: 100%;
    padding: var(--radiusouter);
    clip-path: shape(from 0 var(--radiusouter), line to var(--radiusouter) 0, line to calc(100% - var(--radiusouter)) 0, line to 100% var(--radiusouter), line to 100% calc(100% - var(--radiusouter)), line to calc(100% - var(--radiusouter)) 100%, line to var(--radiusouter) 100%, line to 0 calc(100% - var(--radiusouter)), close);
    background-color: #cc9133;
    position: relative;
}

.corner-box::before {
    shape-rendering: geometricPrecision;
    display: block;
    content: '';
    position: relative;
    left: calc(var(--thickness)*1 - var(--radiusouter));
    top: calc(var(--thickness)*1 - var(--radiusouter));
    width: calc(100% - var(--thickness)*2 + var(--radiusouter)*2);
    height: calc(100% - var(--thickness)*2 + var(--radiusouter)*2);
    clip-path: shape(from 0 var(--radius), line to var(--radius) 0, line to calc(100% - var(--radius)) 0, line to 100% var(--radius), line to 100% calc(100% - var(--radius)), line to calc(100% - var(--radius)) 100%, line to var(--radius) 100%, line to 0 calc(100% - var(--radius)), close);
    background-color: #fff;
    z-index: -1;
}

.corner-box-wrapper .corner-box-header {
    margin-bottom: -12px;
    margin-left: 8px;
    background-color: white;
    color: #cc9133;
    text-transform: uppercase;
    height: 16px;
    width: fit-content;
    padding: 4px;
    position: relative;
    z-index: 1;
    font: 13px 'New Atten', sans-serif;
    font-weight: 700;
}

.corner-box .content {
    width: calc(100% - var(--radiusouter)*2);
    display: block;
    position: absolute;
    top: calc(var(--radiusouter) - var(--thickness));
    left: calc(var(--thickness) + var(--radiusouter));
}

.corner-box .inner-header {
    margin-left: -4px;
    margin-top: -4px;
}

.corner-box label {
    font: 13px 'New Atten', sans-serif;
    font-weight: 800;
    color: #cc9133;
    display: flex;
    align-items: center;
    padding-right: 4px;
    height: 100%;
    margin-bottom: 0;
    max-height: 26px;
    line-height: 13px;
}

.corner-box input {
    border: none;
    background-color: #fff;
    font-family: 'New Atten', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 2px 4px;
    width: 100%;
    height: auto;
    border-radius: 0;
    color: black;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.corner-box .content.two-columns {
    grid-template-columns: fit-content(50%) auto;
    display: grid;
}

.xp-rows {
    grid-template-rows: 0% 50% 50%;
    grid-template-columns: 78px;
    display: grid;
    vertical-align: middle;
    height: 64px;
    margin: 8px;
    margin-top: 18px;
}

.xp-rows .corner-box-wrapper {
    height: 18px;
    margin: 0;
}

.xp-rows .corner-box input {
    font-size: 16px;
    padding: 0 4px;
}

/*================*/
/* Nav Bar */
/*================*/
.nav-bar {
    background-color: #cc9133;
    margin-left: 8px;
    margin-right: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.nav-bar button {
    font-family: 'New Atten', sans-serif;
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    padding: 5px;
    padding-bottom: 7px;
    border: 1.5px solid #cc9133;
    border-bottom: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: #cc9133;
    color: #fff;
    cursor: pointer;
}

.nav-bar button:hover {
    position: relative;
    top: -7px;
    padding-bottom: 14px;
    margin-bottom: -7px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

/*================*/
/* Attribute Box */
/*================*/
.attribute-box {
    font-family: 'New Atten', sans-serif;
    font-size: 16px;
    grid-template-columns: 90px 30px auto;
    display: grid;
    width: 200px;
    align-items: center;
}

.attribute-box ul {
    list-style: none;
    margin: 0;
    margin-top: 4px;
}

.attribute-box li {
    height: 20px;
    color: #000;
}

.stat-box h2,
.attribute-box h2 {
    font-size: 16px;
    color: #cc9133;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 22px;
    overflow: visible;
    display: block;
    width: 100px;
}

.ui-dialog .charsheet .attribute-box input {
    border: none;
    border-bottom: 0.5px solid #cc9133;
    border-radius: 0;
    background-color: #fff;
    width: 22px;
    font-size: 16px;
    height: 16px;
    padding: 3px;
    padding-left: 0;
    color: #000;
    text-align: right;
}

.pc .sheet-attributes {
    padding-top: 16px;
    grid-template-columns: minmax(auto, 220px) minmax(auto, 130px) 1fr 1fr;
}

.pc .sheet-background {
    grid-template-columns: auto auto;
    grid-template-rows: min-content minmax(100px, auto) minmax(100px, auto);
    padding-bottom:0!important;
}

.sheet-background .corner-box-wrapper {
    margin-top: 8px;
    height: 73px;
    margin-bottom: 25.5px;
}

.sheet-background textarea {
    height: 100%;
    margin-bottom: 10px;
}

.sheet-background .corner-box .content textarea {
    padding-top:0;
    padding-bottom: 0;
    height: 56px;
}

.separator {
    border-bottom: 2px solid #cc9133;
    margin-top: 8px;
    margin-bottom: 4px;
    margin-right: 20px;
}

@media (min-width: 768px) {
    .container {
        width: unset;
    }
}

@media (min-width: 880px) {
    .container {
        width: unset;
    }
}

@media (min-width: 992px) {
    .container {
        width: unset;
    }
}

.dice-field {
    background-image: url('https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/images/dice.png');
    width: 62px;
    height: 71px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
}

.ui-dialog .charsheet .dice-field input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: black;
}


.stat-box {
    font-family: 'New Atten', sans-serif;
    font-size: 16px;
    max-height: 100px;
    margin-left: 10px;
    margin-right: 0;
}

.ui-dialog .charsheet .stat-box input.big {
    position: absolute;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: black;
}

.ui-dialog .charsheet .stat-box input.small {
    position: absolute;
    width: 36px;
    height: 36px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: black;
    border-radius: 8px;
}

.stat-box.stat-defense {
    position: relative;
    background: 0px 22px url("https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/images/stats_3.png") no-repeat;
    background-size: auto 70px;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;

    input.big {
        top: 34px;
        left: 12px;
    }

    input.small {
        top: 53px;
        left: 68px;
        border: solid 2px lightgray !important;
    }
}

.stat-box.stat-attack {
    position: relative;
    z-index: 1;

    input.big {
        top: 36px;
        left: 5px;
        z-index: 1;
    }

    input.small {
        top: 23px;
        left: 68px;
        border: solid 2px lightgray !important;
        z-index: 1;
    }
}

.stat-box.stat-courage {
    position: relative;
    background: 0px 22px url("https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/images/stats_1.png") no-repeat;
    background-size: auto 58px;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;

    input.big {
        top: 28px;
        left: 9px;
    }

    input.small {
        top: 44px;
        left: 64px;
        border: solid 2px lightgray !important;
    }
}

.stat-box.stat-quest {
    position: relative;
    background: 0px 22px url("https://raw.githubusercontent.com/blaze-sanecki/LandOfEem/main/images/stats_4.png") no-repeat;
    background-size: 90px 68px;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;

    input.big {
        top: 40px;
        left: 15px;
    }
}

.note-box {
    margin-left: 8px;
    margin-right: 16px;
}

.note-box textarea {
    border: none;
    background-color: transparent;
    background-image:
        linear-gradient(#eee 2px, transparent 2px);
    background-size: 100% 21px;
    background-attachment: local;
    font-family: 'New Atten', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    margin-top: -4px;
    color: black;
    resize: none;
    height: 100%;
    width: 100%;
}

.note-box h2 {
    font-family: 'New Atten', sans-serif;
    font-size: 16px;
    color: #cc9133;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 22px;
    overflow: visible;
    display: block;
    width: 100%;
    position: relative;
}

.corner-box-wrapper.side {
    margin-top: 0;
    height: 60px;

    .corner-box {
        margin-bottom: 8px;
    }
}

.corner-box .content textarea {
    width: -webkit-fill-available;
    resize: none;
    line-height: 18px;
    font-family: 'New Atten', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 54px;
    border: none;
    background-color: transparent;
}

.sparkle{
    font-size: 11px;
    color: #cc9133;
    display: inline-block;
    vertical-align: middle;
    width: fit-content;
    margin-left:-4px;
    margin-right:-2px;
}

h2.hint, label.hint{
    width: fit-content;
    display: inline-block;
}

section.hint{
    font-size: 10px;
    color: gray;
    display: inline-flex;
    width: fit-content;
    vertical-align: middle;
    font-family: 'New Atten', sans-serif;
}

.note-box .hint, .note-box .sparkle{
    margin-top: -2px;
}

.note-box h2.hint{
    margin-right:3px;
}

/*================*/
/* Sheet Styles */
/*================*/

.container {
    background-color: #faf4eb;
    margin: 0;
    padding: 0;
    /*min-width: 860px;*/
}

.pc .header {
    background-color: #faf4eb;
    color: #cc9133;
    display: grid;
    height: 100px;
    grid-template-columns: 5fr 4fr 100px 190px;
}

.pc .header .frame {
    padding: 8px;
    margin: 8px;
    border: 1px solid #cc9133;
    background-color: #fff;
    display: block;
    height: 40px;
    border-radius: 8px;
}

.pc .header .logo {
    height: 62px;
    margin: 20px;
    margin-left: 4px;
    margin-right: 0px;
    max-width: none;
}

.xp-background {
    position: relative;
    top: -17px;
    left: -11px;
    height: 100px;
    width: 100px;
    max-width: none;
}

/* configure the tab buttons */
.pc .sheet-attributes,
.pc .sheet-inventory,
.pc .sheet-background {
    display: none;
    border: 1.5px solid #cc9133;
    border-top: none;
    margin: 8px;
    margin-top: 0;
    background-color: #fff;
    padding: 8px;
}

/* style the active button */
.pc .sheet-tabstoggle[value="attributes"]~div.nav-bar .sheet-button0,
.pc .sheet-tabstoggle[value="inventory"]~div.nav-bar .sheet-button1,
.pc .sheet-tabstoggle[value="background"]~div.nav-bar .sheet-button2 {
    background-color: #fff;
    color: #cc9133;
    position: relative;
    top: -7px;
    padding-bottom: 14px;
    margin-bottom: -7px;
    box-shadow: none !important;
}

/* show the selected tab */
.pc .sheet-tabstoggle[value="attributes"]~div.sheet-attributes,
.pc .sheet-tabstoggle[value="inventory"]~div.sheet-inventory,
.pc .sheet-tabstoggle[value="background"]~div.sheet-background {
    display: grid;
}

.footer {
    font: 10px 'New Atten', sans-serif;
    color: #cc9133;
    width: 100%;
    display: block;
    text-align: center;
    padding-bottom: 6px;
}